<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Last Colony</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="VERSION" content="<%= htmlWebpackPlugin.options.VERSION %>">
  <meta name="GIT_BRANCH" content="<%= htmlWebpackPlugin.options.GIT_BRANCH %>">
  <meta name="GIT_LONG" content="<%= htmlWebpackPlugin.options.GIT_LONG %>">
</head>
<body>
  <div data-role="app"></div>
</body>
</html>